{% extends "corona/basic.html" %}
{% block style %}
      table , td,th {
          border: 2px solid black;
          border-inline: 2px solid black;
      }
      .trrow{
          cursor :pointer;
      }
{% endblock style %}

{% block body %}
<div class="container card my-2" style="width: 23rem;">
  <img src="https://geology.com/world/world-map.gif" style="padding:10px;"class="card-img-top" alt="World Map">
  <div class="card-body">
    <h5 class="card-title">World Data</h5>
    <p class="card-text" style="margin-bottom:5px;margin-top:5px ">Confirmed / Today : {{globalData.Confirmed}} / {{globalData.NewConfirmed}}</p>
    <p class="card-text" style="margin-bottom:5px;margin-top:5px ">Deaths / Today : {{globalData.Deaths}} / {{globalData.NewDeaths}}</p>
    <p class="card-text" style="margin-bottom:5px;margin-top:5px ">Recovered / Today : {{globalData.Recovered}} / {{globalData.NewRecovered}}</p>
    <p class="card-text" style="margin-bottom:5px;margin-top:5px ">Active : {{globalData.Active}}</p>
    <a href="/country/world/NULL" class="btn btn-primary">Show News</a>
  </div>
</div>
<table class="table table-striped table-hover" style="text-align: center;">
          <thead>
            <tr>
              <th colspan="6">{{globalData.Last_Update|slice:":19"}}</th>
            </tr>
              <tr>
                  <th>Number</th>
                  <th>Country</th>
                  <th>Confirmed / Today</th>
                  <th>Deaths / Today</th>
                  <th>Recovered / Today</th>
                  <th>Active</th>
              </tr>
          </thead>
          <tbody>
          {% for i in countries|dictsortreversed:"Active" %}
              <tr class="trrow" onclick="window.location='/country/{{i.Country_Region}}';">
                <td>{{forloop.counter	}}</td>
                <td>{{i.Country_Region}}</td> 
                <td>{{i.Confirmed}} / {{i.NewConfirmed}}</td>
                <td>{{i.Deaths}} / {{i.NewDeaths}} </td>
                <td>{{i.Recovered}} / {{i.NewRecovered}}</td>
                <td>{{i.Active}}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
{% endblock body %}